* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}

.normal { background-color: #A8A77A; padding: 3px 10px; border-radius: 10px; color: white;}
.fire { background-color: #EE8130; padding: 3px 10px; border-radius: 10px; color: white;}
.water { background-color: #6390F0; padding: 3px 10px; border-radius: 10px; color: white;}
.electric { background-color: #F7D02C; padding: 3px 10px; border-radius: 10px; color: white;}
.grass { background-color: #7AC74C; padding: 3px 10px; border-radius: 10px; color: white;}
.ice { background-color: #96D9D6; padding: 3px 10px; border-radius: 10px; color: white;}
.fighting { background-color: #C22E28; padding: 3px 10px; border-radius: 10px; color: white;}
.poison { background-color: #A33EA1; padding: 3px 10px; border-radius: 10px; color: white;}
.ground { background-color: #E2BF65; padding: 3px 10px; border-radius: 10px; color: white;}
.flying { background-color: #A98FF3; padding: 3px 10px; border-radius: 10px; color: white;}
.psychic { background-color: #F95587; padding: 3px 10px; border-radius: 10px; color: white;}
.bug { background-color: #A6B91A; padding: 3px 10px; border-radius: 10px; color: white;}
.rock { background-color: #B6A136; padding: 3px 10px; border-radius: 10px; color: white;}
.ghost { background-color: #735797; padding: 3px 10px; border-radius: 10px; color: white;}
.dragon { background-color: #6F35FC; padding: 3px 10px; border-radius: 10px; color: white;}
.dark { background-color: #705746; padding: 3px 10px; border-radius: 10px; color: white;}
.steel { background-color: #B7B7CE; padding: 3px 10px; border-radius: 10px; color: white;}
.fairy { background-color: #D685AD; padding: 3px 10px; border-radius: 10px; color: white;}